.sort {

}

.sort-controls {
    height: var(--nav-size);
    background-color: var(--bg);
    padding: 0 1rem;
    border-bottom: var(--border);
    display: flex;
    align-items: center;
}

.array {
    display: flex;
    align-items: flex-end;
}

.element div {
    background-color: red;
}