:root {

}

.sort {
    height: 100vh;
    width: 100vw;
    background: #cccccc;
}

.sort-controls {
    height: var(--nav-size);
    background-color: var(--bg);
    padding: 0 1rem;
    border-bottom: var(--border);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.sort-control {
    display: flex;
    align-items: center;
    color: white;
}

.sort-control button {
    outline: none;
}

.sort-controls label {
    color: var(--text-color);
}

.sort-controls input {
    font-size: 16px;
    background: transparent;
    color: var(--text-color);
    width: 40px;
    text-align: center;
}

.sort-controls button {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #999;
    background: #999;
    border-radius: var(--border-radius);
    color: var(--text-color);
    margin: 0 10px;
}

.sort-controls button:hover {
    color: white;
}

.array {
    display: flex;
    align-items: flex-end;
    padding: 20px;
    overflow-y: scroll;
}

.element {
    text-align: center;
}

.element div {
    background-color: yellow;
    border: 1px solid #999999;
}