:root {
    --red: #ff5f3f;
    --green: #5fff3f;
    --blue: #3f7fff;
}

.sort {
    height: 100vh;
    width: 100vw;
    background: #cccccc;
}

.sort-options {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: var(--nav-size);
    background-color: var(--bg);
    padding: 0 1rem;
    border-bottom: var(--border);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.sort-option {
    display: flex;
    align-items: center;
    color: white;
}

.sort-option button {
    outline: none;
}

.sort-options label {
    color: var(--text-color);
}

.sort-options input {
    font-size: 16px;
    background: transparent;
    color: var(--text-color);
    width: 40px;
    text-align: center;
}

.sort-options button {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #999;
    background: #999;
    border-radius: var(--border-radius);
    color: var(--text-color);
    margin: 0 10px;
}

.sort-options button:hover {
    color: white;
}

.array {
    height: 380px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 20px;
    overflow-y: scroll;
}

.element {
    text-align: center;
    background: red;
    padding-bottom: 20px;
    margin: 1px;
    width: 40px;
    font-size: 18px;
    font-weight: 200;
}